<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>百无禁忌</title>
    <link rel="stylesheet" href="/Js/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Js/bootstrap/css/bootstrap.min.css">
    @Html.Partial("_PageHeader")
</head>
<script src="/Js/jquery-2.2.3.min.js"></script>
<script src="/Js/bootstrap/js/bootstrap.min.js"></script>
<body>


    <div>
        <section>
            @RenderBody()
        </section>
    </div>

    <footer>
    </footer>

    <div></div>

</body>
</html>
