@{
    ViewBag.Title = "账号注册";
}

<h2>账号注册</h2>
<form method="post" action="/Home/Register">
    Account
    <input type="text" id="Account" name="Account" />
    NickName  
    <input type="text" id="NickName" name="NickName" />
    Email  
    <input type="text" id="Email" name="Email" />;
  Password 
    <input type="password" id="Password" name="Password" />
    <input type="submit" value="Submit" />
</form>
